*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.services-sec{
    width: 100%;
}               
.services-contaner{
    width: 100%;
    margin: auto;
    text-align: center;
}              
.services-contaner h1{
    color: rgb(91,48,124);
    font-weight: 700;
    font-size: 40px;
}
.services-contaner .services-para  p{
    color: rgb(114,126,134);
    font-size: 14px;
}
.services-contaner button{
    padding: 10px 30px;
    background-color: rgb(91,48,124);
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 50vh;
}
.services-row{
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: center;
    position: absolute;
    
    z-index: 1;
    
}
.services-card {
    width: 23%;
    margin: 20px;
    border-radius: 20px 20px 0px 0px;
    background-color: rgb(239,234,242);
   
}
.services-card h1{
    margin: 10px 10px 20px 10px ;
    font-size: 30px;
}
.services-card img{
    height: 50vh;
}

.services-emty-content{
    /* content: ''; */
    background-color: rgb(239,234,242);
    display: block;
    height: 60vh;
    width: 90%;
    border-radius:20px 15vh 20px 15vh;
    text-align: center;
    margin: 23vh 0px 0px 70px;
    padding: 10px;
    position: relative;
}


@media screen and (max-width:1023px){

    .services-sec{
        width: 100%;
        margin-top: 30px;
    } 
    .services-contaner{
        width: 100%;
        margin: auto; 
    }
    .services-contaner h1{
        font-size: 25px;
    }
    .services-contaner .services-para  p{
        font-size: 16px;
        width: 80%;
       margin-left: 40px;
       margin-top: 20px;
    }
    .services-row{
        display: flex;
        flex-wrap: wrap;
       
       
    }                                  
    .services-card {
        width: 70%;
    }
    .services-emty-content{
    
        background-color: rgb(239,234,242);
        display: block;
        height: 200vh;
        width: 100%;
        border-radius:20px 15vh 20px 15vh;
        text-align: center;
        margin: 20vh 0px 0px 0px;
        padding: 10px;
        
    }
    .services-contaner button{
        margin-top: 185vh;
        padding: 15px 40px;
        font-size: 16px;
        font-weight: 500;
    }
}